<div class="row">
		<div id="side-menu" class="blue-grey darken-2 white-text col s2 m2 l2">
			<!-- <p class="center hide-on-small-only"><b><u>Boards</u></b></p> -->
			<ul>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-home fa-2x"></i> <span class="menu-details hide-on-small-only"> General </span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-building-o fa-2x"></i> <span class="menu-details hide-on-small-only">CISSA Board</span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-commenting fa-2x"></i> <span class="menu-details hide-on-small-only">ICS Board</span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-volume-control-phone fa-2x"></i> <span class="menu-details hide-on-small-only">Telecom Science</span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-wpforms fa-2x"></i> <span class="menu-details hide-on-small-only">Mass Comm.</span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-laptop fa-2x"></i> <span class="menu-details hide-on-small-only">Computer Science</span>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light" href="#">
						<i class="fa fa-book fa-2x"></i> <span class="menu-details hide-on-small-only">Library Science</span>
					</a>
				</li>
				<li>
				  <a class="waves-effect waves-light" href="#">
				    <i class="fa fa-google fa-2x"></i> <span class="menu-details hide-on-small-only">Staff Board</span>
				  </a>
				</li>
				<li>
				  <a class="waves-effect waves-light" href="#">
				    <i class="fa fa-save fa-2x"></i> <span class="menu-details hide-on-small-only">Saved Posts</span>
				  </a>
				</li>
			</ul>
		</div>
		<div id="notice-board" class="col s10 m10 l10 right grey lighten-4">
			<div class="col l12 brown white-text darken-2" style="background-image:url(images/cis.jpg)">
				<div class="transparent-overlay">
					<br>
					<h3 class="center"> Faculty of Communication and Information Science<br><sub>General Notice board</sub></h3>
					<br>
				</div>
			</div>
			<div class="row">
				<div id="general" class="col s12 m8 l8">
					<div class="col s12 m12 l12 notice">
						<div class="card waves-effect">
							<h5>Faculty of CIS Examination Table</h5>
							<p>click on this post to download the 2nd Semester exam timetable</p>
						</div>
						<p>Posted by <span class="green-text">12/55ee055</span> on <span class="green-text">12/06/2016</span><span class="right-align right"><i class="fa fa-tag"></i> General notice <i class="fa fa-tag"></i> Timetable <i class="fa fa-book"></i> PDF</span> </p>
					</div>
					<div class="col s12 m12 l12 notice">
						<div class="card waves-effect">
							<h5>TCS 302 2nd C.A Result</h5>
							<p>click on this post to download the 2nd Semester exam timetable</p>
						</div>
						<p>Posted by <span class="green-text">12/55ee055</span> on <span class="green-text">12/06/2016</span><span class="right-align right"><i class="fa fa-tag"></i> General notice <i class="fa fa-tag"></i> Result <i class="fa fa-book"></i> PDF</span> </p>
					</div>
					<div class="col s12 m12 l6 notice">
						<div class="card waves-effect">
							<h5>LOST BUT FOUND</h5>
							<p>I found an HP small mouth charger at LR2, if you are the owner contact me on 08168861541</p>
						</div>
						<p>Posted by <span class="green-text">12/55ee055</span> on <span class="green-text">12/06/2016</span><span class="right-align right"><i class="fa fa-tag"></i> General notice <i class="fa fa-tag"></i> Timetable <i class="fa fa-book"></i> PDF</span> </p>
					</div>
					<div class="col s12 m12 l6 notice">
						<div class="card waves-effect">
							<h5>LOST BUT FOUND</h5>
							<p>I misplaced my eye glasses in the faculty, if you help me find it pls contact me on 08035353672.</p>
						</div>
						<p>Posted by <span class="green-text">12/55ee055</span> on <span class="green-text">12/06/2016</span><span class="right-align right"><i class="fa fa-tag"></i> General notice <i class="fa fa-tag"></i> Result <i class="fa fa-book"></i> PDF</span> </p>
					</div>
					<div class="col s12 m12 l6 notice">
						<div class="card waves-effect">
							<div class="card-image">
                <img src="images/cis.jpg">
                <span class="card-title">Strange structure found</span>
              </div>
							<p>I found a faculty after Agric, it looks like this. Please I need info about the faculty. pls contact me on 08035353672.</p>
						</div>
						<p>Posted by <span class="green-text">12/55ee055</span> on <span class="green-text">12/06/2016</span><span class="right-align right"><i class="fa fa-tag"></i> General notice <i class="fa fa-tag"></i> Result <i class="fa fa-book"></i> PDF</span> </p>
					</div>
				</div>
				<div id="others" class="col s12 m4 l4 blue-grey darken-2 white-text">
					<h5>General Information<br /><sub><sub>(Important Notices)</sub></sub></h5>
					<ul id="hot" class="collapsible brown-text text-darken-3 white" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">Commencement of 2015/2016 Rain (2nd) Semester Examinations</div>
					      <div class="collapsible-body">
					      	<p>The 2015/2016 Rain (2nd) Semester Examinations will commence on Monday, 27th June, 2016 and come to an end on Saturday, 25th July, 2016.</p>
					      	<p>It is advisable that students who have misplaced their I.D. cards should make request for a replacement urgently. Students are equally advised to get acquainted with the rules and regulations guiding the conduct of the examinations as contained in the Academic Programmes<br>R. A. Okojie (Mrs.)</p>
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">Second</div>
					      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet,a commodo
					      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p></div>
					    </li>
					    <li>
					      <div class="collapsible-header">Third</div>
					      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea aecat cupidatat non
					      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p></div>
					    </li>
					  </ul>
					  <br>
					  <h5>Filter Notice</h5>
					  <ul class="collapsible brown-text text-darken-3 white" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">January</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">February</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">March</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">April</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">May</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">June</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">July</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">August</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">September</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">October</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">November</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">December</div>
					      <div class="collapsible-body">
					      	<!-- angular handles content -->
					      </div>
					    </li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	    <a class="btn-floating btn-large yellow">
	      <i class="fa fa-plus fa-4x pink-text text-darken-3"></i>
	    </a>
	    <!-- <ul>
	      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
	      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
	      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
	      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	    </ul> -->
	  </div>
	